<!DOCTYPE html>
<html>
    <head>
        <title>Crud Example</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/main.css">
        <link rel="stylesheet" href="css/datepicker.css">
        <script>
            loadComponents = [
                {
                    name: 'component/productoMasterComponent',
                    render: false
                }
            ];
        </script>
        <script src="./js/vendor/jquery-1.9.1.js"></script>
        <script src="./js/vendor/bootstrap.min.js"></script>
        <script src="./js/vendor/underscore-min.js"></script>
        <script src="./js/vendor/backbone-min.js"></script>
        <script src="./js/vendor/bootstrap-datepicker.js"></script>
        <script data-main="src/main" src="./js/vendor/require.js"></script>
<script type="text/template" id="productoList">
            <div class="panel panel-default">
            <!-- Default panel contents -->
            <table class="table striped">
            <thead>
            <tr>
                         <th>tipo</th>
                         <th>minimaCantidad</th>
                         <th>name</th>
                         <th>maximaCantidad</th>
                         <th>cantidadDisponible</th>
                         <th>borrarCantidad</th>
            <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <% _.each(productos, function(producto) { %>
  
                        <% if (producto.get('cantidadDisponible') < producto.getDisplay('minimaCantidad')) { %>
                        <tr id="existenciasBajas" class="danger" data-toggle="tooltip" data-placement="right" title="Existencias bajas!">
                        <% } if (producto.get('cantidadDisponible') > producto.getDisplay('maximaCantidad')){ %>
                        <tr id="existenciasExcesivas" class="danger" data-toggle="tooltip" data-placement="right" title="Existencias excesivas!">
                       
                        <%} if (producto.get('cantidadDisponible') <= producto.getDisplay('maximaCantidad') && producto.get('cantidadDisponible') >= producto.getDisplay('minimaCantidad')){ %>
                        <tr >
                        <% } %>
                        <td><%= htmlEncode(producto.getDisplay('tipo')) %></td>
                        <td><%= htmlEncode(producto.getDisplay('minimaCantidad')) %></td>
                        <td><%= htmlEncode(producto.getDisplay('name')) %></td>
                        <td><%= htmlEncode(producto.getDisplay('maximaCantidad')) %></td>
                        <td><%= producto.get('cantidadDisponible') %>  </td>
                        <%var valor = "Borrar-"+producto.getDisplay('id');%>
            <td> <input type="text" class="form-control" id="<%=valor%>" name="<%=valor%>" placeholder="Cant. a borrar"/>	
            <button onclick="myFunction(&quot;<%=valor%>&quot;,<%=producto.getDisplay('id')%>,<%= componentId %>)"><img height=24 width=24 src="http://pixabay.com/static/uploads/photo/2013/07/12/12/40/abort-146072_640.png?i"></button>
     
            </td>
            <td>
            <% if(showEdit) {%>
            <a onclick="Backbone.trigger('<%= componentId %>-producto-edit',{id:<%= producto.id %>}); return false" >Edit</a> |
                <% } %> 
                <% if(showDelete) {%>
            <a onclick="Backbone.trigger('<%= componentId %>-producto-delete',{id:<%= producto.id %>}); return false" >Delete</a> 
                <% } %>    
                </td>
            </tr>
            <% }); %>
            </tbody>
            </table>
            </div>
        </script >
       <script>
       function myFunction(place,id,componentId)
        {
            Backbone.trigger(componentId+"-producto-borrar",{"id":id,"cantidad":document.getElementById(place).value});
        }
       </script>
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="../../assets/js/html5shiv.js"></script>
          <script src="../../assets/js/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="container">
            <div id="main" ></div>
            <hr />
            <div id="tabs" ></div>
        </div>

    </body>
</html>